<!-- 
HAPI HL7-over-HTTP Relay
This is open-source software - Copyright(c) 2012 University Health Network

Modify this file to configure the relay. This configuration file
is a Spring Framework bean definition file. Each <bean> element
is a software module which will be instantiated when the relay is
started up. This configuration file has three example beans, but
you may add as many as you like.

See the following URL for more information on configuration options:
http://hl7api.sourceforge.net/hapi-hl7overhttp/relay_config.html
-->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 
	**** Listeners ****
	-->

    <bean class="ca.uhn.hl7v2.hoh.relay.listener.RelayMllpListener" id="theListener">
        <property name="port" value="8079"/>
    </bean>

	<!-- 
	**** Senders ****
	-->
    
    <bean class="ca.uhn.hl7v2.hoh.relay.sender.RelayHttpSender" id="theSender">
        <property name="urlString" value="http://localhost:8080/relayURI"/>
    </bean>

	<!-- 
	**** Binders ****
	-->

    <bean class="ca.uhn.hl7v2.hoh.relay.Binder">
        <property name="listener" ref="theListener"/>
        <property name="sender" ref="theSender"/>
    </bean>
    
</beans>